:root {
  --primary-color: rgb(144, 88, 189);
  --font-color: #fff;
  --box-shadow:0px 2px 8px 0px rgba(99, 99, 99, 0.3) ;
  --border:1px solid var(--primary-color);
  --padding:10px;
  --border-radius:5px;
  

  
}
body {
  padding-top: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 800px;

}

h1,h2,h3{
  margin: 0;
}
h1{
  color:var(--primary-color);
  font-style: italic;
  font-size: 40px;
}
h2{
  color: #3e3e3e;
  margin-top: 30px;
  font-size: 30px;
}
h3{
  color: #3e3e3e;
  font-size: 30px;
}
p{
  color: #3e3e3e;
  padding: 20px 20px;
}
.filler-text{
  font-size: 25px;
}
.launch-link{
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 500ms;

}
.launch-link:hover{
  font-size: 20px;
  text-decoration: underline;
  transform: scale(1.2);
}
.images{
  transition: transform .70s;
}
.images:hover{
transform: scale(1.2);
}
.center_text{
text-align: center!important
}
.container-header{
padding-top: 20px;
padding-bottom: 100px;
}
.mb-5 {
  margin-top: 40px;
  margin-bottom: 3rem;
}
.container{
  padding-bottom: 20px;
}

.link{
  display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 20px;
}
.container-row{
  max-width: 500px;
}
.row {
  width: 400px;
  display: block;
  display: inline;
}
.about-button{
  margin: 20px;
  color:white;
  padding: 20px 15px;
  text-decoration: none;
  font-weight: bold;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}
.contact-button {
  margin: 20px;
  color:var(--primary-color);
  padding: 20px 15px;
  text-decoration: none;
  font-weight: bold;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--font-color);
  box-shadow: var(--box-shadow);
}
.paragraphs-container p{
  font-size: 18px;
}
.about-header h1{
  font-size: 50px;
}
.paragraphs-container{
  display: flex;
  margin: 40px 0;
  }
.paragraphs-container p{
    margin: 35px ;
    text-align: center;
    line-height: 28px;
    padding: 40px 20px;
    border-radius: var(--border-radius);
    background-color:rgba(198, 186, 237, 0.4);
    }

.contacInfo{
  display: block;
  margin:0 auto;
  padding-top: 20px;
}

.email{
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 25px;
  padding-left: 20px;
  padding-bottom: 10px;
}
#contact{
  font-size: 40px;
  margin: 10px;
}

@media (max-width:800px) {
  h2{
    margin-top: 30px;
    font-size: 25px;
  }
  p{
    font-size: 25px;
  }

  .mb-5 {
    margin-top: 40px;
    margin-bottom: 3rem;
  }
  .about-button{
    padding: 20px 20px;
    font-size: 22px;

  }
  .contact-button {
    padding: 20px 20px;
    font-size: 22px;

  }
  .images{
    display: none;
  }
  .launch-link{
    font-size: 20px;
    margin: 20px;
    color:white;
    padding: 20px 15px;
    text-decoration: none;
    font-weight: bold;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    transition: all 500ms;

  }
  .launch-link:hover{
    font-size: 20px;
    margin: 20px;
    color:white;
    padding: 20px 15px;
    text-decoration: none;
    font-weight: bold;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    text-decoration: none;
    transform: scale(1);
  }
  /*trying to make it into a column*/

  .container-row{
    width: 600px;
  }
  .app_images{
    width: 70%;
  }
  .row{
    display: block;
    margin: 0 auto;
   
  }
  
}